@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
#modalBtn{
	display: none;
}
.modal-body{
	text-align: center;
}
#mesg{
	margin: 0;
}
.retrieve{
 	cursor: pointer;
}
 
#card{
	height: 25;
	width: 15;
}