a {
	color: black;
	text-decoration: none;
}

.currCategory {
	color: green;
	font-weight: bold;
}

.tableTop {
	border-bottom-color: #24855B;
	border-bottom-width: 2.5px;
}

.paging {
	cursor: pointer;
}