<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CartMapper">
	
	<!-- 장바구니 리스트 -->
	<select id="cartList" parameterType="string" resultType="CartDTO">
		select c.cart_id,p.p_name,c.p_amount,p.p_selling_price,p.p_id,c.userid, p_selling_price*p_amount money,
		(select IMAGE_ROUTE from images where p_id = c.p_id and IMAGE_RNK = 1) as p_image 
      	from cart c join product p 
      	on c.p_id = p.p_id
		where c.userid = #{userid} 
		order by cart_id desc
	</select>
	
	<!-- 장바구니 갯수 -->
	<select id="cartCount" parameterType="String" resultType="int">
		select count(*) from cart where userid = #{userid}
	</select>
	
	<!-- 총금액 구하기 / null인 경우 0 -->
	<select id="sum_money" resultType="int">
		select nvl(sum(p.p_selling_price*c.p_amount),0) money
		from cart c, product p 
		where c.p_id = p.p_id and c.userid = #{userid}
	</select>  
	
	<!-- 장바구니에 동일한 상품있는지 확인  -->
 	<select id="checkCart" parameterType="hashmap" resultType="int" >
 		select count(*) from cart where userid = #{userid} and p_id = #{p_id}
 	</select>
 	
 	<!-- 장바구니 저장  -->
    <insert id="cartAdd" parameterType="CartDTO">
		insert into cart 
		values
		(cart_cart_id_seq.nextval,#{userid},#{p_id},sysdate,#{p_amount})	
	</insert>
	
	<!-- 장바구니에 있는경우 구매수량 수정 -->
 	<update id="updateCart" parameterType="CartDTO">
 		update cart set p_amount = p_amount +#{p_amount}  where userid = #{userid} and p_id = #{p_id}
 	</update>
 	
 	<!-- 장바구니 카트 삭제 -->
 	<delete id="cartDel" parameterType="String">
		delete from cart where cart_id =#{cart_id}
	</delete>
	
	<!-- 선택 된 상품 삭제-->
	<delete id="chkdel" parameterType="arrayList">
		delete from cart
		where cart_id
		in
		<foreach collection="list" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<!-- 장바구니 수량 업데이트 -->	
 	<update id="cartUpdate" parameterType="hashmap">
		update cart set p_amount = #{p_amount} where cart_id = #{cart_id}
	</update>
	
	<!-- 찜목록갯수 -->
 	<select id="likeCount" parameterType="String" resultType="int">
		select count(*) from product_liked where userid = #{userid}
	</select>
 	
 	<!-- 찜리스트 -->
 	<select id="likeList" parameterType="String" resultType="ProductByCategoryDTO">
	 	select pl.p_id, p.p_name,p.p_selling_price,pl.userid,(select IMAGE_ROUTE from images where p_id = pl.p_id and IMAGE_RNK = 1) as p_image 
		from product_liked pl join product p 
		on pl.p_id = p.p_id
		where pl.userid = #{userid}
		order by p_id 
 	</select>
	
	<!-- 선택한 상품 주문 -->
	<select id="orderCart" parameterType="arraylist" resultType="CartDTO">
	select c.cart_id,p.p_name,c.p_amount,p.p_selling_price,p.p_id,c.userid, p_selling_price*p_amount money,
		(select IMAGE_ROUTE from images where p_id = c.p_id and IMAGE_RNK = 1) as p_image 
      	from cart c join product p 
      	on c.p_id = p.p_id where cart_id 
	
	 IN
	 <foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
	 </foreach>
	 order by cart_id desc
	</select>
	
	
	
	
</mapper>