<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChallengeMapper">

<select id="selectAllChallenge" parameterType="hashmap" resultType="ChallengeDTO">
	select * 
	from challenge c 
	LEFT OUTER JOIN profile p on c.userid=p.userid
	LEFT OUTER JOIN member_stamp m on c.chall_id=m.chall_id
	<where>
	  <if test='searchName!=null and !searchName.equals("")'>
	 	and ${searchName} like '%${searchValue}%'
	  </if>
	</where>
	order by 
	<if test='sortBy!=null and !sortBy.equals("")'>
		${sortBy} desc,
	</if>
	c.chall_id desc
</select>

<select id="countTotalChall" parameterType="hashmap" resultType="int">
	select count(*) 
	from challenge c 
	LEFT OUTER JOIN profile p on c.userid=p.userid
	LEFT OUTER JOIN member_stamp m on c.chall_id=m.chall_id
	<where>
	  <if test='searchName!=null and !searchName.equals("")'>
	 	and ${searchName} like '%${searchValue}%'
	  </if>
	</where>
</select>

<select id="selectChallThisMonth" resultType="ChallengeDTO">
	select * from challenge
	where chall_this_month=1
</select>

<select id="selectLikedChall">
	select chall_id from chall_liked 
	where userid=#{userid}
</select>

</mapper>