<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CouponMapper">
	<select id="myCoupon" parameterType="map" resultType="CouponMemberCouponDTO">
	   	select * from MEMBER_COUPON full outer join COUPON using(COUPON_ID) where USERID = #{userid}
	   		<if test="searchCategory == 'coupon_discount' and searchCategory != null">
	   			order by COUPON_DISCOUNT desc
	   		</if>
	   		<if test="searchCategory == 'coupon_validity' and searchCategory != null">
	   			order by COUPON_VALIDITY asc
	   		</if>
	   		<if test="searchCategory == null">
	   			order by coupon_id
	   		</if>
	</select>
	<select id="myCouponCount" parameterType="map" resultType="int">
		select count(*) from MEMBER_COUPON full outer join COUPON using(COUPON_ID) where USERID = #{userid}
		   <if test="searchCategory == 'coupon_discount' and searchCategory != null">
	   			order by COUPON_DISCOUNT desc
	   		</if>
	   		<if test="searchCategory == 'coupon_validity' and searchCategory != null">
	   			order by COUPON_VALIDITY asc
	   		</if>
	</select>
	<select id="couponSelect" parameterType="map" resultType="CouponDTO">
		select * from Coupon 
		<if test="searchName == 'coupon_name' and searchName != null">
			where COUPON_NAME like '%${searchValue}%'
		</if>
		<if test="searchName == 'coupon_discount' and searchName != null">
			where COUPON_DISCOUNT like '%${searchValue}%'
		</if>
		<if test="sortBy == 'coupon_discount_up' and sortBy != null">
			order by COUPON_DISCOUNT desc
		</if>
		<if test="sortBy == 'coupon_discount_down' and sortBy != null">
			order by COUPON_DISCOUNT asc
		</if>
		<if test="sortBy == 'coupon_validity' and sortBy != null">
			order by COUPON_VALIDITY desc
		</if>
		<if test="sortBy == 'coupon_created' and sortBy != null">
			order by COUPON_CREATED desc
		</if>
		<if test="searchName == null and sortBy == null">
	   		order by coupon_id
	   	</if>
	</select>
	<select id="couponCount" parameterType="map" resultType="int">
		select count(*) from Coupon
		<if test="searchName == 'COUPON_NAME' and searchName != null">
			where COUPON_NAME like '%${searchValue}%'
		</if>
		<if test="searchName == 'COUPON_DISCOUNT' and searchName != null">
			where COUPON_DISCOUNT like '%${searchValue}%'
		</if>
		<if test="sortBy == COUPON_DISCOUNT_up and sortBy != null">
			order by COUPON_DISCOUNT desc
		</if>
		<if test="sortBy == COUPON_DISCOUNT_down and sortBy != null">
			order by COUPON_DISCOUNT asc
		</if>
	</select>
	<insert id="couponInsert" parameterType="CouponDTO">
		insert into COUPON (COUPON_ID , COUPON_IMG, COUPON_NAME, COUPON_DISCOUNT)
			values (COUPON_COUPON_ID_SEQ.nextval, null, #{coupon_name}, #{coupon_discount})
	</insert>
	<select id="couponOneSelect" parameterType="string" resultType="CouponDTO">
		select * from COUPON where COUPON_ID = #{coupon_id}
	</select>
	<update id="couponUpdate" parameterType="CouponDTO">
		update COUPON set COUPON_NAME = #{coupon_name}, COUPON_DISCOUNT = #{coupon_discount}
			where COUPON_ID = #{coupon_id}
	</update>
	<delete id="couponDelete" parameterType="string">
		delete from COUPON where COUPON_ID = #{coupon_id}
	</delete>
	<delete id="couponAllDel" parameterType="list">
		delete from coupon where COUPON_ID in
		<foreach collection="list" item="coupon_id" open="(" separator="," close=")">
			#{coupon_id}
		</foreach>
	</delete>
	<insert id="memberAddCoupon" parameterType="String">
		insert into member_coupon (USERID, COUPON_ID, COUPON_GET, COUPON_VALIDITY, COUPON_STATUS, COUPON_USED)
			values (#{userid}, 44, sysdate, add_months(sysdate, 1), '미사용', null)
	</insert>
</mapper>