<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MypageMapper">
		<select id="countReview" parameterType="String" resultType="int">
			select count(*) from review
			where userid = #{userid}
		</select>
		<select id="countCoupon" parameterType="String" resultType="int">
			select count(*) from member_coupon
			where userid = #{userid}
		</select>
		<select id="countStamp" parameterType="String" resultType="int">
			select count(*) from member_stamp
			where userid = #{userid}
		</select>
		<select id="countChallenge" parameterType="String" resultType="int">
			select count(*) from challenge
			where userid = #{userid}
		</select>
		<select id="selectMember" parameterType="String" resultType="MemberDTO">
			select * from member
			where userid = #{userid}
		</select>
		<select id="selectDefaultAddress" parameterType="String" resultType="AddressDTO">
			select * from address
			where userid = #{userid}
			and default_chk = 1
		</select>
		<update id="updateMember" parameterType="hashmap">
			update member
			set email1 = #{email1},
				email2 = #{email2}
				<if test="changedPasswd != null">
					, passwd = #{changedPasswd}
				</if>
			where userid = #{userid}
		</update>
		<update id="updateAddress" parameterType="hashmap">
			update address
			set post_num = #{post_num}, 
				addr1 = #{addr1}, 
				addr2 = #{addr2}
			where address_id = #{address_id}
		</update>
		<select id="selectAllAddress" resultType="AddressDTO">
			select * from address
			where userid = #{userid}
			order by address_id
		</select>
		<delete id="deleteMember">
			delete from member
			where userid = #{userid}
		</delete>
		<delete id="deleteAddress">
			delete from address
			where address_id = #{address_id}
		</delete>
		<insert id="addAddress" parameterType="AddressDTO">
			insert into address
			values (address_address_id_seq.nextval, #{userid}, #{address_name}, #{receiver_name}, #{receiver_phone}, 
					#{post_num}, #{addr1}, #{addr2}, #{default_chk})
		</insert>
		<update id="changeNotDefaultAddress">
			update address
			set default_chk = 0
			where userid = #{userid}
			and default_chk = 1
		</update>
		<select id="selectAddress" resultType="AddressDTO">
			select * from address
			where address_id = #{address_id}
		</select>
		<update id="changeAddress" parameterType="AddressDTO">
			update address
			set address_name = #{address_name}, 
				receiver_name = #{receiver_name}, 
				receiver_phone = #{receiver_phone}, 
				post_num = #{post_num}, 
				addr1 = #{addr1}, 
				addr2 = #{addr2}, 
				default_chk = #{default_chk}
			where address_id = #{address_id}
		</update>
		<select id="selectProfile" resultType="ProfileDTO">
			select userid, profile_img, profile_txt from profile
			where userid = #{userid}
		</select>
		<update id="updateProfile" parameterType="hashmap">
			update profile
			set profile_img = #{profile_img},
				profile_txt = #{profile_txt}
			where userid = #{userid}
		</update>
</mapper>