<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderMapper">
	<select id="myOrder" parameterType="map" resultType="ProductOrderImagesDTO">
		select * 
			from orders o full outer join  product p using(p_id)
  			left outer join images using(p_id)
  			where o.userid = #{userid} and IMAGE_RNK = 1
	    <if test="searchCategory == 'p_name' and search != null">
	    	and p.p_name like '%${search}%'
	    </if>
	    <if test="searchCategory == 'order_date' and search != null">
	    	and o.order_date like '%${search}%'
	    </if>
	    order by ORDER_DATE desc
	</select>
	<select id="myOrderCount" parameterType="map" resultType="int">
		select count(*) 
		    from orders o full outer join  product p using(p_id)
  			left outer join images using(p_id) 
			where o.userid = #{userid} and IMAGE_RNK = 1
	    <if test="searchCategory == 'p_name' and search != null">
	    	and p.p_name like '%${search}%'
	    </if>
	    <if test="searchCategory == 'order_date' and search != null">
	    	and o.order_date like '%${search}%'
	    </if>
	</select>
	
	<select id="getOrderId" resultType="int">
		select orders_order_id_seq.NEXTVAL from dual
	</select>
	
	<insert id="addOrder" parameterType="OrderDTO">
		insert into orders (order_id, userid, p_id, total_price, delivery_address, delivery_req, order_date,order_state,p_amount)
		values(#{order_id}, #{userid}, #{p_id}, #{total_price}, #{delivery_address}, #{delivery_req},sysdate,'주문완료', #{order_quantity})
	</insert>	
	
	<delete id="cartDelete" parameterType="hashmap">
		delete from cart where userid = #{userid} and p_id=#{p_id}
	</delete>
	
	<select id="selectCart" parameterType="hashmap" resultType="int">
	select count(*) from cart where userid = #{userid} and p_id=#{p_id}
	</select>
	
	<delete id="deleteCoupon" parameterType="hashmap">
	delete from member_coupon where userid = #{userid} and coupon_id=#{coupon_id}
	</delete>
	
	<select id="selectSameCouponCount" parameterType="hashmap" resultType="int">
	select count(*) from member_coupon where userid = #{userid} and coupon_id=#{coupon_id}
	</select>
	

	<delete id="deleteOneCoupon" parameterType="hashmap">
	delete from member_coupon where coupon_give_id =
		(select coupon_give_id from 
			(select coupon_give_id, userid,coupon_id,coupon_get,coupon_validity,coupon_status , row_number() over(order by coupon_validity) as r
			 from member_coupon where userid = #{userid} and coupon_id=#{coupon_id})
		where r=1)
	</delete>
	
	<select id="getOrderInfo" parameterType="int" resultType="OrderDTO">
	select * from orders where order_id = #{order_id}
	</select>
	
	<select id="selectOrderProd" parameterType="int" resultType="ProductOrderImagesDTO">
	select o.order_id, o.userid, o.p_id, o.total_price, o.delivery_address, o.delivery_req, o.order_date,o.order_state, o.p_amount,
			 p.p_name,p.p_content,p.c_id,p.p_cost_price, p.p_selling_price,p.p_discount,p.p_created,p.p_stock,
			 i.image_rnk , i.image_route, i.update_date 
		 from orders o,  product p, images i 
			where o.p_id = p.p_id and p.p_id = i.p_id
			and o.order_id = #{order_id};
	</select>

	

	<!-- <select id="selectOrders" parameterType="String" resultType="OrderDTO">
		select o.order_id, o.userid, o.p_id, o.total_price, o.delivery_address, o.delivery_loc, o.delivery_req, o.order_date,
			   (select IMAGE_ROUTE from images where p_id = o.p_id and IMAGE_RNK = 1) as p_image,p.p_name, p.p_selling_price,
				c.p_amount,p.p_selling_price*c.p_amount money
		 from orders o,  product p , cart c 
		 where o.p_id = p.p_id and o.p_id = c.p_id
		and o.userid = #{userid}
		
	</select>
	
	
		
	<select id="getProductList" parameterType="List" resultType="CategoryProductDTO">
	select p.P_ID
,(select 

IMAGE_ROUTE

from images
where p_id = p.p_id 
and IMAGE_RNK = 1) as p_image
,p.P_NAME
,p.P_CONTENT
,p.C_ID
,p.P_COST_PRICE
,p.P_SELLING_PRICE
,p.P_DISCOUNT
,p.P_CREATED
,p.P_STOCK
from product p

where p.p_id in
<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>
	

	
	
	




 -->


</mapper>