<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewMapper">
	<select id="prodReview" resultType="ReviewProfileDTO" parameterType="string">
		select * from profile join review USING(userid) where P_ID = #{p_id}
	</select>
	<select id="myReview" parameterType="String" resultType="ReviewProductImagesDTO">
		select * from review r join product using(p_id) join images using(p_id)
	    	where r.userid = #{userid} and image_rnk = 1 order by REVIEW_CREATED desc
	</select>
	<select id="myReviewCount" parameterType="String" resultType="int">
		select count(*) from review where userid = #{userid}
	</select>
	<select id="reviewCheck" parameterType="map" resultType="ReviewDTO">
		select * from review where order_id = #{order_id} and p_id = #{p_id}
	</select>
	<insert id="reviewInsert" parameterType="map">
		insert into REVIEW (REVIEW_ID, ORDER_ID, P_ID, USERID, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_RATE, REVIEW_IMG, REVIEW_CREATED)
			values (REVIEW_REVIEW_ID_SEQ.nextval, #{order_id}, #{p_id}, #{userid}, #{review_title}, #{review_content},
				#{review_rate}, #{review_img}, sysdate)
	</insert> 
	<select id="reviewOneSelect" parameterType="String" resultType="ProductOrderReviewDTO">
		select * from review r full outer join product p USING(p_id)
			where r.REVIEW_ID = #{review_id}
	</select>
	<update id="reviewUpate" parameterType="map">
		update REVIEW set REVIEW_TITLE = #{review_title}, REVIEW_CONTENT = #{review_content}, REVIEW_RATE = #{review_rate}, 
			REVIEW_IMG = #{review_img} where REVIEW_ID = #{review_id}
	</update>
	<delete id="reviewDelete" parameterType="map">
		delete from REVIEW where REVIEW_ID = #{review_id}
	</delete>
</mapper>